    
    
    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
        
        padding: 10px;
    }
    
    form{
        padding:5px;
        margin: 0 auto;
        width:500px;
        background-color: rgba(0, 0, 0, 0.25);
        
        border-radius: 10px;
        
    }    
    
    input {
        font-size: 2em;
        color: black;
    }
    
    select{
        
        color: black;
        
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 300px;
         
    }