body{
    
    background-color: #DDDDDD;
    font-family: monospace;
    width: 60%;
    min-width: 60%;
    margin: 0 auto;
}

footer{
    
    
    text-align: center;
    
}

footer img{
    
    margin: 0 auto;
    
}


#wrapper{
    
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
    
}



#nav-bar{
    
    background-color: #999999;
    
    margin: 0 auto;
    
    margin-top: 5px;
    
    border-radius: 5px;
    
    color: white;
    
}

#contact-form{
    
    margin-top: 1%;
    
    height: 1000px;
    
    border-radius: 5px;
    
}

nav a:link{
    
    color: white;
    
}
 
nav a:visited{
    color: white;
}

nav a:hover{
    color: #0099ff;
    
    transition: .5s;
}


.nav-element{
    
    background-color: #333333;
    
    font-size: large;
    
    width: 33.3333333%;
    
    padding-top: 10px;
    
    padding-bottom: 10px;
    
    float:left;
    
    text-align: center;
    
    border-radius: 5px;
    
}

.clear-fix{
    clear:both;
}


#middle-wrapper{
    
    margin-top: 1%;

    border-style: solid;
    
    padding: 4px;
    
    height: 425px;

    overflow: hidden;
    
    border-radius: 5px;
    
    border-color: #BBBBBB;
    
}

#main-summary{
    
    background-color: #BBBBBB;
    
    font-size: 14px;
    
    width: 70%;
    
    height: 97.75%;
    
    padding: 5px;
    
    border-radius: 5px;
    
    float: left;
    
    margin-right: 1px;
    
    margin-bottom: 1%;
    
}


tr:nth-child(even) {
    background-color: #DDDDDD
    
}


#main-table{
    
    border-collapse: collapse;
    
    width: 100%;
    
    margin: 0 auto;
    
}

td{
    padding: 2px;
}

#table-head{
    
    background-color: #0099ff;
    
    font-size: 16px;
    
}

.hobby{
    
    
    font-size: 14px;
    
    color: #0077dd;
    
}


#project-container{
    
    background-color: #BBBBBB;
    
    padding: 5px;
    
    border-radius: 5px;
    
    margin-right: 1px;
    
    margin-bottom: 1%;
    
    margin-top: 1%;
    
}

#interests{
    
    background-color: #BBBBBB;
    
    padding: 5px;
    
    border-radius: 5px;
    
    margin-right: 1px;
    
    margin-bottom: 1%;
    
    margin-top: 1%;
    
}

#main-profile{
    
    background-color: #0099ff;
    
    width: 28.5%;
    
    height: 100%;
    
    float: right;
    
    border-radius: 5px;
    
    margin-left: 1px;
    
    margin-bottom: 1%;
    
    color: white;
    
}

#profile-text{
    
    padding-left: 5%;
    
}

#picture-container{
    
    margin: 0 auto;
    
    margin-top: 5%;
    
    background-color: #333333;
    
    width: 200px;
    
    height: 200px;
    
    border-radius: 5px;
    
}

#page-title{
    
    padding-right: 45%;
    
    padding-top: 2px;
    
    padding-bottom: 2px;
    
    margin: 0 auto;
    
    text-align: center;
    
    vertical-align: middle;
    
    background-color: #0099ff;
    
    border-radius: 10px;
    
    color: #EEEEEE;
    
}


#brief-resume{
    
    background-color: #BBBBBB;
    
    margin-top: 1%;
    
    padding: 5px;
    
    border-radius: 5px;
    
}